<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ title }}</h4> 
    </div>
</div>
<!-- ============================================================== -->
<!-- Other sales widgets -->
<!-- ============================================================== -->
<!-- .row -->
<div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">UMA Membership</h3>
            <ul class="list-inline m-t-30 p-t-10 two-part">
                <li><i class="icon-people text-info"></i></li>
                <li class="text-right"><span class="counter">{{props.companies}}</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Respondents</h3>
            <ul class="list-inline m-t-30 p-t-10 two-part">
                <li><i class="ti-pencil-alt text-danger"></i></li>
                <li class="text-right"><span class="counter">{{props.respondents}}</span></li>
            </ul>
        </div>
    </div>
    {{!-- <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Monthly Sales</h3>
            <div class="text-right"> <span class="text-muted">Monthly Income</span>
                <h1><sup><i class="ti-arrow-up text-info"></i></sup> $10,000</h1>
            </div> <span class="text-info">60%</span>
            <div class="progress m-b-0">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width:60%;"> <span class="sr-only">20% Complete</span> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="white-box">
            <h3 class="box-title">Yearly Sales</h3>
            <div class="text-right"> <span class="text-muted">Yearly Income</span>
                <h1><sup><i class="ti-arrow-up text-inverse"></i></sup> $9,000</h1>
            </div> <span class="text-inverse">80%</span>
            <div class="progress m-b-0">
                <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100" style="width:80%;"> <span class="sr-only">230% Complete</span> </div>
            </div>
        </div>
    </div> --}}
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title">Geographical Area covered</h3>
            <div id="map_3" class="gmaps"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Month with more flooding</h3>
            <div>
                <canvas id="chart1" height="150"></canvas>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="white-box">
            <h3 class="box-title">Water Usage in companies</h3>
            <div>
                <canvas id="chart2" height="150"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="white-box">
            <h3 class="box-title">Industry in swampy area</h3>
            <div>
                <canvas id="chart3" height="150"></canvas>
            </div>
        </div>
    </div>
</div>