 <!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">{{ title }}</h4> </div>
    <!-- /.col-lg-12 -->
</div>
<!-- .row -->
<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">Place a job order</h3>
            <p class="text-muted m-b-30 font-13"> All fields are required </p>
            <form class="form-horizontal" method="POST" action="/job-order
            " enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-md-12" for="job-title">Title:</label>
                    <div class="col-md-12">
                        <input type="text" id="job-title" class="form-control" placeholder="title..." name="title"> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12" for="job-quantity">Quantity:</label>
                    <div class="col-md-12">
                        <input type="number" id="job-quantity" class="form-control" placeholder="Quantity..." name="quantity"> </div>
                </div>
                <div class="form-group">
                    <label class="col-md-12">Description:</label>
                    <div class="col-md-12">
                        <textarea class="form-control" rows="5" name="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Sample One:</label>
                    <div class="col-sm-12">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                            <input type="file" name="sample"> </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Sample Two:</label>
                    <div class="col-sm-12">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                            <input type="file" name="sample2"> </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-12">Sample Three:</label>
                    <div class="col-sm-12">
                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                            <div class="form-control" data-trigger="fileinput"> <i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div> <span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                            <input type="file" name="sample3"> </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- /.row -->